@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0d1117;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui, sans-serif;
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-600 to-brand-400;
  }
}
